body{
  background-color: #bdf9ee;
}

.moon-wrapper{
  margin: 12em 0;
  position: relative;
}

.moon{
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  display: block;

}


.rocket{
  width: 40px;
  position: absolute;
  left: calc(50% - 20px);
  top: -60px;
  animation: orbit 7s linear infinite;
  transform-origin: center 270px;

}

#ship {
  transform: rotate(-45deg);
}



@keyframes orbit {

  from{
    transform: rotate(0deg);

  }

  to{
    transform: rotate(-360deg);
  }

}
